@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap'); */


html {
  scroll-behavior: smooth;
}

p {
  font-display: swap
}

body {
  color: #E2E8F0;
  font-family: 'Inter', sans-serif;
  background-color: #3b0764;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  /* mobile */
}

body:has(dialog[open]) {
  overflow: hidden;
  pointer-events: none;
}

dialog[open] {
  pointer-events: auto;
}

.custom-text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.custom-switch-shadow-left {
  box-shadow: inset -4px 0 5px rgba(0, 0, 0, 0.5);
}

.custom-switch-shadow-right {
  box-shadow: inset 4px 0 5px rgba(0, 0, 0, 0.5);
}

.border-card,
.border-modal {
  content: '';
  position: absolute;
  inset: 0;
  top: 0;
  left: 0;
  border-radius: inherit;
  padding: 2px;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
}

.border-card::before,
.border-modal::before {
  content: '';
  position: absolute;
  width: 220px;
  height: 60px;
  background: transparent;
  offset-path: border-box;
  offset-anchor: 100% 50%;
  offset-distance: 0%;
}

.border-card:hover,
.border-modal:hover {
  background-color: rgba(88, 28, 135, 0.5);
  transition: all 200ms ease-out;
}

.border-modal::before {
  background: radial-gradient(at right center, #c084fc, transparent 60%);
  animation: moveAlongThePath 3s linear infinite;
}

.border-card:hover::before {
  background: radial-gradient(at right center, #c084fc, transparent 60%);
  animation: moveAlongThePath 3s linear infinite;
}

@keyframes moveAlongThePath {
  to {
    offset-distance: 100%;
  }
}

.wrapper {
  mask-image: linear-gradient(to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 30%,
      rgba(0, 0, 0, 1) 70%,
      rgba(0, 0, 0, 0));
}

.wrapper:hover .iconScroll {
  animation-play-state: paused;
}

.iconScroll {
  animation: scrollLeft 12s linear infinite;
}

@keyframes scrollLeft {
  to {
    left: -32px;
  }
}

/* .card-animation {
  animation: appear 1ms ease-out;
  animation-timeline: view();
  animation-range: cover 0% cover 50%;
}

@keyframes appear {
  from {
    opacity: .6;
    scale: .8;
  }

  to {
    opacity: 1;
    scale: 1;
  }

  entry 0% {
    transform: translateY(100%);
  }

  entry 100% {
    transform: translateY(0);
  }

  exit 0% {
    transform: translateY(0);
  }

  exit 100% {
    transform: translateY(-100%);
  }
} */


.text-animation {
  display: inline-block;
  animation: showText 300ms ease-out;
}

@keyframes showText {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}